.age-gate__modal-overlay{z-index:4999}.age-gate__modal-body{padding:0}.age-gate__state-selector-wrapper{position:relative;max-width:360px;margin:16px auto}.age-gate__state-selector-wrapper:after{content:url(/web/20190828180318im_/https://www.juul.com/packs/images/icons/select-arrow-f21bd7d0.svg);width:10px;position:absolute;top:50%;right:16px;-webkit-transform:translateY(-50%);transform:translateY(-50%);pointer-events:none}.age-gate__state-selector{width:100%;margin:0;padding:11px 42px 12px 16px;font-family:Twentieth Century W05,Arial,sans-serif;border-radius:0;border:1px solid #e9e9e9;background-color:#fff}.age-gate__state-selector::-ms-expand{display:none}.age-gate__state-selector:active,.age-gate__state-selector:focus{border-color:#424242}.age-gate__blocked-state-warning-text{font-size:18px;background-color:#d95050;margin:8px auto;padding:16px;color:#fff}.age-gate__buttons-subsection{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;max-width:360px;margin-right:auto;margin-left:auto}.age-gate__agree-button{margin-bottom:20px}.age-gate__disagree-button{background-color:transparent;border-color:#000;color:#000}.age-gate__footer{float:left;width:100%}@media only screen and (max-width:767px){.age-gate__footer{padding:10px}}.age-gate__reseller-warning-text,.age-gate__warranty-support-text{font-size:.77778rem;line-height:1.11111rem}.age-gate__av-required-text{font-size:.88889rem;line-height:1.22222rem}.age-gate__language-selector{font-size:12px;border:none;background-color:transparent}.age-gate__language-selector-button{background-color:transparent;color:#424242;font-size:12px;cursor:pointer;border:none;border-right:1px solid}.age-gate__language-selector button:last-child{border:none;background-color:transparent;color:#424242;font-size:12px;cursor:pointer}
/*
     FILE ARCHIVED ON 18:03:18 Aug 28, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:15:56 Oct 13, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 182.379
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.11
  RedisCDXSource: 92.283
  esindex: 0.011
  LoadShardBlock: 64.723 (3)
  PetaboxLoader3.datanode: 99.111 (4)
  CDXLines.iter: 21.906 (3)
  load_resource: 161.196
  PetaboxLoader3.resolve: 119.285
*/